@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section,
time, mark, audio, video, main { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
h1,h2,h3,h4,h5,h6 {	font-weight: normal; }
body { line-height:1; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q {	quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a {	margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline;	background:transparent; }
ins { background-color:#ff9; color:#000;text-decoration:none;}
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table {	border-collapse:collapse; border-spacing:0; }
hr { display:block;	height:1px;	border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select {	vertical-align:middle; }
ul { list-style: none; }
a {	text-decoration: none; }
.clearfix:after { content: ".";	display: block;	clear: both; height: 0;	visibility: hidden; }
.clearfix {	min-height: 1px; }
* html .clearfix { height: 1px;	/*&yen;*//*/height: auto;overflow: hidden;/**/}
a {	color: #243561;	-webkit-transition: .2s; 	transition: .2s;
}
area:active {	outline:none;	border:none;}
header,footer,section,article,div {	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
* {	box-sizing: border-box; }
img { margin:0;	padding:0;	vertical-align: bottom; }
/*---------------------------
		Utility
----------------------------*/

.clr{clear:both}
.flL{float:left}
.flR{float:right}
.alc{text-align:center!important}
.mt2{margin-top:2px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px!important}
.mt50{margin-top:50px!important}
.mt60{margin-top:60px!important}
.mt-2{margin-top:-2px!important}
.mr0{margin-right:0!important}
.mr5{margin-right:5px!important}
.mr8{margin-right:8px!important}
.mr10{margin-right:10px!important}
.ml10{margin-left:10px!important}
.ml20{margin-left:20px!important}
.ml30{margin-left:30px!important}
.ml40{margin-left:40px!important}
.ml50{margin-left:50px!important}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb20{margin-bottom:20px!important}
.mb30{margin-bottom:30px!important}
.mb40{margin-bottom:40px!important}
.mb60{margin-bottom:60px!important}
.pt0{padding-top:0px!important}
.pt20{padding-top:20px!important}
.pt40{padding-top:40px!important}
.pt50{padding-top:50px!important}
.pb30{padding-top:30px!important}
.pl0{padding-left:0!important}
.pl30{padding-left:30!important}
.fnt10 {font-size:10px!important}
.fnt12 {font-size:12px!important}
.fnt14 {font-size:14px!important}
.fnt20 {font-size:20px!important}
.fnt22 {font-size:22px!important}
.fnt24 {font-size:24px!important}
.fnt30{font-size:30px!important}
.fwb {font-weight:700!important}
.fwn {font-weight:normal!important}
.attetion {font-size:12px;color:#999;}
.ad0100 {color:#ad0100;}
.attetion02 {color:#ad0100;}

input[type="submit"] {
	cursor:pointer;
}

/*----------------------------------------*/

1
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
	min-width:1024px;
	min-height:550px;
	font-size: 14px;
	line-height:1.6;
	color: #333;
	font-family: 'Noto Sans Japanese';
}

.container{
	width:100%;
	min-width:1024px;
}

header{
	width:100%;
	min-width:1024px;
	height:55px;
	top:0px;
	left:0px;
	background:#fff;
}

#header_logo{
	float:left;
	width:10%;
	padding:20px;
}

.gnav{
	float;left;
}

.gnav li{
	width:100px;
	height:55px;
	line-height:55px;
	float:left;
	text-align:center;
	font-size:16px;
	font-weight:700;
}
.gnav li:hover{
	background:#333;
}
.gnav li a{
	color: #333;
	display: block;
	width: 100%;
	height: 100%;
}
.gnav li a:hover {
	color:#fff;
}
.contents_wrap {
	width:100%;
	background:#f7f7f7;
}
#contents_area{
	width: 1024px;
	margin-top: 55px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	background:#585552;
}

#contents_area h2{
	padding-top: 30px;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	text-align: center;
	font-size: 40px !important;
}


/** st 20160224 added by hm **/

#contents_area h3{
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	text-align: center;
	font-size: 20px !important;
}

#contents_area h3.tv {
	padding-top: 0;
	margin-bottom: 10px;
}

#contents_area h3.other {
	padding-top: 30px;
	margin-bottom: 10px;
}

/** ed 20160224 added by hm **/


#top_logo{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -59px;
	margin-left: -132px;
	width:14%;
}

#about_table{
	width: 500px;
	margin: 0 auto;
}

.about_table_left{
	width: 90px;
	padding-left: 10px;
	background: #f2f2f2;
	border-bottom: 1px #eee solid;
}

.about_table_right{
	width: 380px;
	padding: 10px;
	line-height: 20px;
	border-bottom: 1px #eee solid;
}


/** st 20160224 added by hm **/

#works_table{
	width: 550px;
	margin: 0 auto;
}

.works_table_left{
	width: 90px;
	padding-left: 10px;
	background: #f2f2f2;
	border-bottom: 1px #eee solid;
}

.works_table_right{
	width: 380px;
	padding: 10px;
	line-height: 20px;
	border-bottom: 1px #eee solid;
}

/** ed 20160224 added by hm **/



#works_itemarea{
	width: 600px;
	margin: 0 auto;
}

.work_item{
	width: 600px;
	height: auto;
	margin-bottom: 50px;
	padding-bottom: 20px;
	background: url(../images/parts/work_item_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.work_item h3{
	color: #02365b;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-left: 5px #02365b solid;
}

.work_text{
	padding-left: 15px;
	margin-bottom: 15px;
}

.work_link{
	padding-left: 60px;
	padding-bottom: 15px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	background-image: url(../images/parts/link_icon.png);
	background-position: 15px 0px;
	background-repeat: no-repeat;
}

.work_link a{
	color:#e95513;
}

.work_date{
	padding-left: 15px;
	color:#02365b;
	font-size: 10px;
	font-weight: bold;
}

#map_area{
	width: 600px;
	margin: 0 auto;
}

#map_area iframe{
	width: 600px;
	height: 400px;
}

#contact_area{
	width: 600px;
	margin: 0 auto;
}

#contact_text{
	padding-bottom: 20px;
}

#contact_table{
	width: 600px;
	margin: 0 auto;
}

.contact_table_left{
	width: 140px;
	padding-left: 10px;
	background: #e95513;
	color: #fff;
}

.contact_table_right{
	width: 430px;
	padding: 10px;
	line-height: 20px;
}

.contact_table_right textarea{
	width: 430px;
	height: 400px;
	resize: none;
}

#form_submit{
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 2px;
    background: #02365b none repeat scroll 0% 0% !important;
    color: #FFF;
    cursor: pointer;
    border-radius: 0px;
    border: 0px none !important;
}

#form_reset{
    width: 175px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background: #f2f2f2 none repeat scroll 0% 0% !important;
    color: #222;
    cursor: pointer;
    border-radius: 0px;
    border: 0px none !important;
}

footer{
	width:100%;
	min-width:1024px;
	height:30px;
	left:0px;
	bottom:0px;
	background:#fff;
	text-align:center;
}

footer p{
	padding-top:8px;
	font-size:12px;
}